<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kDKDrawingInfoTitle</key>
	<string>ortho.artb</string>
	<key>kdkdrawinginfocreationdate</key>
	<date>2016-05-25T15:27:34Z</date>
	<key>kdkdrawinginfodimensionsshortunits</key>
	<string>pt</string>
	<key>kdkdrawinginfodimensionsunits</key>
	<string>centimetres</string>
	<key>kdkdrawinginfodraughter</key>
	<string>Guy Wydouw</string>
	<key>kdkdrawinginfodrawingdimensions.size_height</key>
	<string>29.700000</string>
	<key>kdkdrawinginfodrawingdimensions.size_width</key>
	<string>21.000000</string>
	<key>kdkdrawinginfodrawingnumber</key>
	<string>A2-000226-0001</string>
	<key>kdkdrawinginfodrawingnumberunformatted</key>
	<integer>226</integer>
	<key>kdkdrawinginfodrawingprefix</key>
	<string>A2</string>
	<key>kdkdrawinginfodrawingrevision</key>
	<integer>1</integer>
	<key>kdkdrawinginfolastmodificationdate</key>
	<date>2016-05-25T15:27:34Z</date>
</dict>
</plist>
