/* CSS file for skalp dialog */

/* GENERAL */

/* disable selection */

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input{
    -webkit-user-select: text;
    user-select: text;
}

select{
    -webkit-user-select: text;
    user-select: text;
}

.preview_label{
    font-size:12px;
    font-family:"Arial" ;
}

.textbox {
    -webkit-user-select: text;
    user-select: text;
}

body{
    background-color: rgb(237,237,237);
}

p {
    font-size:12px;
    font-family:"Arial" ;
}

h1{
    font-size:12px;
    font-family:"Arial" ;
}

h2{
    font-size:12px;
    font-family:"Arial" ;
    font-weight: normal;
}

.textbox {
    font-size:12px;
    font-family:"Arial" ;
    outline-color:#000000;
    outline-style:none;
    box-shadow:rgb(215, 215, 215) 0px 1px 1px inset;
    -webkit-appearance:none;
    background-color:#FFFFFF;
    -webkit-border-top-left-radius:0;
    border-top-left-radius:0;
    -o-border-top-left-radius:0;
    -ms-border-top-left-radius:0;
    -moz-border-radius-topleft:0;
    -webkit-border-top-right-radius:0;
    border-top-right-radius:0;
    -o-border-top-right-radius:0;
    -ms-border-top-right-radius:0;
    -moz-border-radius-topright:0;
    -webkit-border-bottom-right-radius:0;
    border-bottom-right-radius:0;
    -o-border-bottom-right-radius:0;
    -ms-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    -webkit-border-bottom-left-radius:0;
    border-bottom-left-radius:0;
    -o-border-bottom-left-radius:0;
    -ms-border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;

    background-repeat-x:no-repeat;
    background-repeat-y:no-repeat;
    background-repeat:no-repeat;
    border:1px solid #7F7F7F;

    padding-left:3px;
    padding-top: 2px ;
    padding-bottom: 2px;

}

.listbox {
    height: 18px;
    font-size:12px;
    font-family:"Arial" ;
    outline-color:#000000;
    outline-style:none;
    box-shadow:rgb(215, 215, 215) 0px 1px 1px inset;
    -webkit-appearance:none;
    background-color:#FFFFFF;
    -webkit-border-top-left-radius:0;
    border-top-left-radius:0;
    -o-border-top-left-radius:0;
    -ms-border-top-left-radius:0;
    -moz-border-radius-topleft:0;
    -webkit-border-top-right-radius:0;
    border-top-right-radius:0;
    -o-border-top-right-radius:0;
    -ms-border-top-right-radius:0;
    -moz-border-radius-topright:0;
    -webkit-border-bottom-right-radius:0;
    border-bottom-right-radius:0;
    -o-border-bottom-right-radius:0;
    -ms-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    -webkit-border-bottom-left-radius:0;
    border-bottom-left-radius:0;
    -o-border-bottom-left-radius:0;
    -ms-border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;

    background-repeat-x:no-repeat;
    background-repeat-y:no-repeat;
    background-repeat:no-repeat;
    border:1px solid #7F7F7F;

    padding-left:3px;
    padding-top: 2px ;
    padding-bottom: 2px;
}


.listbox_invisible{
    height: 18px;
    font-size:12px;
    font-family:"Arial" ;
    -webkit-appearance:none;
    border:none;
    background:  rgb(237,237,237);

    padding-left:3px;
    padding-top: 2px ;
    padding-bottom: 2px;
}
.image_button {

}

.preview {
    /*    outline-color:#000000;
        outline-style:none;
        box-shadow:rgb(215, 215, 215) 0px 1px 1px inset;
        -webkit-appearance:none;
        background-color:#FFFFFF;
        -webkit-border-top-left-radius:0;
        border-top-left-radius:0;
        -o-border-top-left-radius:0;
        -ms-border-top-left-radius:0;
        -moz-border-radius-topleft:0;
        -webkit-border-top-right-radius:0;
        border-top-right-radius:0;
        -o-border-top-right-radius:0;
        -ms-border-top-right-radius:0;
        -moz-border-radius-topright:0;
        -webkit-border-bottom-right-radius:0;
        border-bottom-right-radius:0;
        -o-border-bottom-right-radius:0;
        -ms-border-bottom-right-radius:0;
        -moz-border-radius-bottomright:0;
        -webkit-border-bottom-left-radius:0;
        border-bottom-left-radius:0;
        -o-border-bottom-left-radius:0;
        -ms-border-bottom-left-radius:0;
        -moz-border-radius-bottomleft:0;
        background-repeat-x:no-repeat;
        background-repeat-y:no-repeat;
        background-repeat:no-repeat;

        border:1px solid #7F7F7F;*/
}



/* HATCH DIALOG */

#hatch_add {
    position:fixed;
    top:7px;
    left:10px;
}

#hatch_delete {
    position:fixed;
    top:7px;
    left:34px;
}

/*.drawing_scale{*/
/*background-color: rgb(237,237,237);*/
/*border: none;*/
/*font-family:"Arial" ;*/
/*width:auto;*/
/*font-size: 11px;*/
/*height:10px;*/
/*}*/

/*#drawing_scale_title {*/
/*position:fixed;*/
/*width:auto;*/
/*left:60px;*/
/*top:0px;*/
/*}*/

/*#drawing_scale {*/
/*position:fixed;*/
/*width:50px;*/
/*left:69px;*/
/*top:10px;*/

/*padding-left:3px;*/
/*padding-top: 2px ;*/
/*padding-bottom: 2px;*/
/*-webkit-user-select: text;*/
/*user-select: text;*/
/*}*/

/*#hatch_show_more {*/
/*position:fixed;*/
/*top:7px;*/
/*right:32px;*/
/*}*/


#hatch_menu {
    position:absolute;
    top:7px;
    right:10px;
}

#hatch_menu_list {
    position:absolute;
    top:7px;
    right:8px;
    width:15px;
    opacity: 0;
    color: black;
}

#hatch_icon_pattern{
    position:fixed;
    top:38px;
    left:8px;
}

#hatch_name {
    position:fixed;
    width: auto;
    left:25px;
    right:9px;
    padding-right: 15px;
    top:35px;
    height:12px;
    z-index: 0;
}

#material_list{
    position:fixed;
    top: 32px;
    width: 10px;
    left: 233px;
    z-index: 5;
    opacity: 0;
}

#material_arrow{
    position:fixed;
    top: 39px;
    left: 230px;
    z-index: 3;
}

#pattern_settings{
    position: absolute;
    /*visibility: hidden;*/
    border-style: solid;
    border-width: 1px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    border-color: grey;
    left: 0;
    right: 0;
    bottom: 0;
    top: 62px;
}

#units_div{
    position:absolute;
    width: 100%;
    height: auto;
    left:12px;
    top:0;
}

#units{
    position:absolute;
    left:50px;
    top: 6px;
    width:167px;
}

#pattern_list_div {
    position:absolute;
    left: 12px;
    width: 100%;
    height: auto;
    top:20px;
}

#acad_pattern_list {
    position:absolute;
    top: 6px;
    left: 50px;
    width: 167px;
}

#hatch_preview {
    position:absolute;
    left: 13px;
    top: 54px;
    width: 215px;
    height:100px;
    z-index: 0;

}

#update_preview{
    position:absolute;
    top:59px;
    left:195px;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.preview_label{
    color: red;
    background-color: rgb(237,237,237);
    border: none;
}

#zoom_scale{
    position:absolute;
    text-align: left;
    left:13px;
    width: 85px;
    top:154px;
}


#slider_div {
    position:absolute;
    left:96px;
    width: 133px;
    top:163px;
}

#slider {
    width: 133px;
}

#gauge_scale{
    position:absolute;
    text-align: left;
    left:13px;
    width: 85px;
    top:175px;
}

#tile_x {
    font-size:12px;
    font-family:"Arial" ;
    position:absolute;
    text-align: left;
    left:159px;
    width: 50px;
    top:4px;
    color:red;
    background-color: white;
    -webkit-user-select: text;
    user-select: text;
}
#tile_operator{
    font-size:12px;
    font-family:"Arial" ;
    position:absolute;
    text-align: center;
    width: 10px;
    left:146px;
    top:11px;
}

#tile_y {
    font-size:12px;
    font-family:"Arial" ;
    position:absolute;
    text-align: right;
    width: 50px;
    left:86px;
    top:4px;
    color:green;
    background-color: white;
    -webkit-user-select: text;
    user-select: text;
}

#resize {
    position: fixed;
    right: 1px;
    bottom: 1px;
    z-index: 1;
}


#info{
    text-align: center;
    color: lightgrey;
    font-family:"Arial" ;
    font-size: 10px;
}

#pattern{
    position:absolute;
    width:220px;
    height:80px;
    left:25px;
    top:20px;
}

#pattern_fillcolor{
    position:absolute;
    left:13px;
    top:206px;
}

#fill_color {
    position:absolute;
    width:76px;
    height:15px;
    left:137px;
    top:8px;
    background-color: white;
    border: solid black 1px;
}

#pattern_linecolor{
    position:absolute;
    left:13px;
    top:227px;
}

#line_color {
    position:absolute;
    width:76px;
    height:15px;
    background-color: #000000;
    border: solid black 1px;
    left:137px;
    top:8px;
}

#pattern_linewidth{
    position:absolute;
    left:13px;
    top:248px;
}

#lineweight_model {
    font-size:12px;
    font-family:"Arial" ;
    position:absolute;
    background-color: white;
    -webkit-user-select: text;
    user-select: text;
    position:absolute;
    text-align: center;
    height: 13px;
    width: 75px;
    left: 136px;
    top: 8px;
    visibility: hidden;
}

#lineweight_paper {
    position:absolute;
    width:80px;
    height:20px;
    left: 136px;
    top:8px;
}

#lineweight_unit_arrow{
    position:absolute;
    left:237px;
    top:219px;
    height: 10px;
}

#sectioncut{
    position:absolute;
    width:220px;
    height:80px;
    left:13px;
    top:280px;
}

#sectioncut_linewidth{
    position:absolute;
    width: 80px;
    left:136px;
    top:6px;
    height:20px;
}

#pattern_alignment{
    position:absolute;
    left:13px;
    top:301px;
    width: 150px;
}

#align_pattern{
    position:absolute;
    left:135px;
    top:8px;
}


@media all and (-ms-high-contrast:none){

    ::-ms-selection {
        background-color: #FF68B0;
        color: #FFF;
    }

    /* Works in Internet Explorer */
    ::-webkit-selection {
        background-color: #FF68B0;
        color: #FFF;
    }

    .textbox {
        padding-left: 5px;
        padding-bottom: 3px;
        -ms-user-select: text;
    }

    input{
        -ms-user-select: text;
    }

    select{
        -ms-user-select: text;
        font-size: 11px;
    }

    #hatch_name {
        position:absolute;
        width: calc(100% - 58px);
        padding-right: 15px;
        left:26px;
        right:8px;
        top:35px;
        height:12px;
        z-index: 0;
        -ms-user-select: text;
    }

    #pattern_list {
        position:absolute;
        right: 12px;
        top:10px;
        width:15px;
        opacity: 0;
        color: black;
        z-index: 2;
    }

    #pattern_arrow {
        position:absolute;
        right: 15px;
        top:40px;
        z-index: 1;
    }

    #tile_x {
        font-size:11px;
        font-family:"Arial" ;
        position:absolute;
        text-align: left;
        left:159px;
        width: 50px;
        top:7px;
        color:red;
        background-color: white;
        -webkit-user-select: text;
        user-select: text;
    }

    #tile_y {
        font-size:11px;
        font-family:"Arial" ;
        position:absolute;
        text-align: right;
        width: 50px;
        left:86px;
        top:7px;
        color:green;
        background-color: white;
        -webkit-user-select: text;
        user-select: text;
    }

    #units{
        top: 8px;
    }

    #acad_pattern_list {
        top:8px;
    }
}