.jscslider,
.jscslider_scale,
.jscslider_tracker {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.jscslider {
	height: 15px;
	position: absolute;
	left: 100px;
	/* Position after Preview Zoom: label */
	border: 0px inset #000;
	border-radius: 5px;
	display: inline-block;

}

.jscslider_scale {
	position: absolute;
	z-index: 1;
	left: 2%;
	width: 96%;
	height: 20%;
	top: 40%;
	background: #bcbcbc;
	border: 1px inset #afafaf;
	box-shadow: rgb(142, 142, 142) 0px 1px 1px inset;
	border-radius: 4px;
}

.jscslider_tracker {
	position: absolute;
	z-index: 2;
	width: 11px;
	height: 11px;
	left: 0;
	top: 0;
	background: #e9e9e9;
	border: 1px outset #787878;
	border-radius: 50%;
}