/* CSS file  for skalp dialog */

/* GENERAL */

/* disable selection */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.textbox {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    -ms-user-select: text;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.yes-select {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    -ms-user-select: text;
}

input {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    -ms-user-select: text;
}

select {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    -ms-user-select: text;
}

body {
    background-color: rgb(237, 237, 237);
}

p {
    font-size: 12px;
    font-family: "Arial";
}

optgroup {
    font-size: 12px;
    font-family: "Arial";
}

option {
    font-size: 12px;
    font-family: "Arial";
}

.text {
    font-size: 12px;
    font-family: "Arial";
}

.textbox {
    height: 12px;
    font-size: 12px;
    font-family: "Arial";
    outline-color: #000000;
    outline-style: none;
    -webkit-appearance: none;
    background-color: #FFFFFF;

    background-repeat: no-repeat;

    border-color: rgb(111, 170, 204);
    border-width: 1px;
    border-radius: 6px;
    box-shadow: 0 0 3px 2px rgb(111, 170, 204);

    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.listbox {
    height: 18px;
    font-size: 12px;
    font-family: "Arial";
    outline-color: #000000;
    outline-style: none;
    box-shadow: rgb(215, 215, 215) 0px 1px 1px inset;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    border-radius: 6px;
    background-repeat: no-repeat;
    border: 1px solid #7F7F7F;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.linestyles_listbox {
    width: 81px;
}

.image_button {}

.preview {
    outline-color: #000000;
    outline-style: none;
    box-shadow: rgb(215, 215, 215) 0px 1px 1px inset;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -o-border-top-right-radius: 0;
    -ms-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -o-border-bottom-right-radius: 0;
    -ms-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -o-border-bottom-left-radius: 0;
    -ms-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-repeat: no-repeat;

    border: 1px solid #7F7F7F;
}


/* SECTIONS DIALOG */

#sections_update {
    position: absolute;
    top: 8px;
    left: 8px;
}

#align_view {
    position: absolute;
    top: 9px;
    left: 98px;
}

#reverse_sectionplane {
    position: absolute;
    top: 7px;
    left: 122px;
    width: 20px;
    height: 20px;
}

#render_mode {
    position: absolute;
    top: 7px;
    left: 148px;
    width: 20px;
    height: 20px;
}

#not_uptodate {
    position: absolute;
    top: 7px;
    left: 172px;
    width: 26px;
    height: 20px;
}

#sections_switch {
    position: absolute;
    top: 35px;
    left: 10px;

}

#sections_add {
    position: absolute;
    top: 8px;
    left: 39px;
}

#sections_delete {
    position: absolute;
    top: 8px;
    left: 63px;
}

#sections_show_more {
    position: absolute;
    top: 32px;
    right: 6px;
}

#sections_menu {
    position: absolute;
    top: 7px;
    right: 6px;
}

#sections_menu_list {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 10px;
    opacity: 0;
    color: black;
}

#sections_arrow_svg {
    position: absolute;
    top: 37px;
    right: 33px;
    pointer-events: none;
}

#sections_list {
    position: absolute;
    width: auto;
    left: 38px;
    right: 26px;
    top: 33px;

    padding-top: 1px;
    padding-bottom: 2px;
}

#sections_rename {
    position: absolute;
    width: auto;
    left: 4px;
    right: 26px;
    top: 33px;
    height: 12px;
    padding-top: 2px;
    padding-bottom: 1px;
    visibility: hidden;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    z-index: 1;
}

/* MATERIAL DIALOG */

#material_show_more {
    position: absolute;
    top: 7px;
    right: 32px;
}

#material_menu {
    position: absolute;
    top: 7px;
    right: 10px;
}

#material_menu_list {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 15px;
    opacity: 0;
    color: #FFFFFF;
}


#tag_icon {
    position: absolute;
    width: auto;
    left: 12px;
    right: 8px;
    top: 11px;
}

#tag {
    position: absolute;
    height: 14px;
    left: 29px;
    right: 65px;
    top: 8px;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    width: calc(100% - 100px);
}

#hatch_icon {
    position: absolute;
    width: auto;
    left: 12px;
    right: 8px;
    top: 36px;
}

#material_list {
    position: absolute;
    height: 14px;
    left: 29px;
    top: 33px;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    width: calc(100% - 100px);
}

#deselect {
    font-size: 10px;
    font-family: "Arial";
    position: absolute;
    height: 12px;
    right: 8px;
    top: 35px;
    border-radius: 6px;
}


#material_arrow_svg {
    position: absolute;
    top: 37px;
    right: 15px;
    pointer-events: none;
}

#resize {
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 10;
}

#model {
    border-bottom: none;

}

@media all and (-ms-high-contrast:none) {
    .textbox {
        padding-left: 5px;
        padding-bottom: 3px;
        -ms-user-select: text;
    }

    #drawing_scale_input {
        margin-top: 3px;
        padding-top: 2px;
        padding-bottom: 0px;
        font-size: 12px;
    }

    #fog_distance_input {
        margin-top: 3px;
        padding-top: 2px;
        padding-bottom: 0px;
        font-size: 12px;
    }

    #drawing_scale {
        position: absolute;
        width: 50px;
        left: 147px;
        top: 10px;

        padding-left: 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        -ms-user-select: text;
    }

    #sections_list {
        position: absolute;
        width: calc(100% - 64px);
        padding-top: 2px;
        padding-bottom: 1px;
        left: 38px;
        right: 26px;
        top: 33px;
    }

    #sections_rename {
        padding-left: 5px;
        padding-top: 1px;
        padding-bottom: 3px;
        position: absolute;
        width: calc(100% - 41px);
        left: 6px;
        right: 35px;
        height: 12px;
        top: 33px;
        visibility: hidden;
        -ms-user-select: text;
    }

    #tag {
        position: absolute;
        height: 14px;
        width: calc(100% - 100px);
        left: 29px;
        top: 8px;
        padding-left: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        -ms-user-select: text;
    }

    #material_list {
        position: absolute;
        height: 14px;
        width: auto;
        left: 29px;
        top: 33px;
        padding-left: 3px;
        padding-top: 1px;
        padding-bottom: 1px;
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -o-user-select: text;
        user-select: text;
        width: calc(100% - 100px);
    }

    select::-ms-expand {
        display: none;
    }

    #deselect {
        font-size: 10px;
        font-family: "Arial";
        position: absolute;
        height: 14px;
        right: 8px;
        top: 35px;
        width: 52px;
        padding: 0;
    }
}