input[type=text]:disabled {
    background: rgb(237,237,237);
    color: grey;
    border: 1px solid lightgrey;
    height: 15px;
    width: 50px;
    margin-top: 2px;
}

#dialog_styles{
    position: absolute;
    visibility: hidden;
    border-style: solid;
    border-width: 1px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    border-color: grey;
    left: 0;
    right: 0;
    bottom: 0;
    top: 62px;
}

#display_settings_blured{
    position: absolute;
    border-style: solid;
    border-width: 1px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    border-color: grey;
    background-color: rgba(237,237,237,0.85);
    left: 0;
    right: 0;
    bottom: 0;
    top: 62px;
    z-index: 101;
}

#skalp_styles{
    position:absolute;
    top:120px;
    width:auto;
    right:0px;
    left:0px;
    bottom: 1px;
    overflow: hidden;
    background-color: #ffffff;
}

#style_line{
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    position:absolute;
    top:97px;
    left:0;
    right:0;
}

#style_title{
    position:absolute;
    top:102px;
    left:8px;
}

#reset_style{
    position:absolute;
    top:100px;
    Right:54px;
}

#add_item{
    position:absolute;
    top:100px;
    Right:34px;
}

#edit_style{
    position:absolute;
    top:98px;
    Right:14px;
}

#rules_menu_list{
    position:absolute;
    top:98px;
    right:14px;
    width:15px;
    opacity:0;
    color:#FFFFFF;
}

#save_style{
    visibility:hidden;
    position:absolute;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    width: auto;
    height: auto;
    background-color:rgb(237,237,237);
    top:-10px;
    right:17px;
    z-index: 102;
}

#drawing_scale_div{
    position:absolute;
    top:14px;
    left:38px;
}

#rear_lines{
    position:absolute;
    top:34px;
    left:8px;
}

#linestyles_div {
    position:absolute;
    margin-top: -4px;
    left:145px;
}

#lineweights{
    position:absolute;
    top:54px;
    left:8px;
}

#fog{
    position:absolute;
    top:74px;
    left:8px;
}

.drawing_scale{
    background-color: rgb(237,237,237);
    border: none;
    font-family:"Arial" ;
    width:auto;
    font-size: 11px;
    height:10px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

#drawing_scale_label {
    position: absolute;
    width: 120px;
    left: 0;
}

#drawing_scale_1{
    position: absolute;
    width: 40px;
    left: 90px;
}

#drawing_scale_input_div{
    position: absolute;
    margin-top: -6px;
    left: 108px;
}

#drawing_scale_input{
    width: 68px;
}

#style_rearview_switch_label {
    position: absolute;
    width: 120px;
    left: 30px;
}

#onoff_rearview {
    position: absolute;
    left: 0;
}

#style_lineweight_switch_label {
    position: absolute;
    width: 120px;
    left: 30px;
}

#fog_distance_div{
    position: absolute;
    margin-top: -6px;
    left: 138px;
}

#fog_label {
    position: absolute;
    width: 100px;
    left: 30px;
}

#onoff_fog{
    position: absolute;
    left: 0;
}

#fog_distance_input{
    position: absolute;
    width: 68px;
    left: 0;
}

#onoff_lineweights {
    position: absolute;
    left: 0;
}

/* TABLE */
table{
    border-collapse:collapse;
    margin: 0px;
    border-top: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    /*background-color: rgb(230,230,230);   */
    background-color: #ffffff;
}
tr{
    border-top:1px solid rgb(230,230,230);
    border-bottom:1px solid rgb(230,230,230);
    background-color:white;
    height: 22px;
}

tr.head_top{
    border: none;
}

tr.head_bottom{
    border:none;
}

body{
    margin:0px;padding:0px ;
}

#sortable_table, #sortable_header {
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

/* COLUMNS */

.column_drag{
    width: 1px;
}

.column_selector_type{
    width: 20px;
}

.column_selector_name{
    width: auto;
}

.column_arrow{
    width: 16px;
    padding-left:2px;
}
.column_convert_to_type{
    width: 20px;
}

.column_convert_to{
    width: auto;
}

.column_delete{
    width: 1px;
}

/* GENERAL */

.style_textbox {
    height: 12px;
    font-size:12px;
    font-family:"Arial" ;
    outline-color:#000000;
    outline-style:none;
    -webkit-appearance:none;
    background-color:#FFFFFF;
    background-repeat:no-repeat;
    border: none;
    padding-left:2px;
    padding-top: 3px ;
    padding-bottom: 2px;
    overflow: hidden;
    top:-8px;
}

.style_listbox {
    height: 18px;
    font-size:12px;
    font-family:"Arial" ;
    top:-9px;
    opacity: 0;
    color: black;
    overflow: hidden;
}

/* DRAG */

.drag{
    position: relative;
    top:1px;
}

/* CONVERT FROM */

.div_selector_type{
    position: relative;
    width: auto;
    height: auto;
}

.selector_type_image{
    position: absolute;
    left:0px;
    top:-5px;
    z-index:0;
}

.selector_type{
    position: absolute;
    left:0px;
    top:-11px;
    width:100%;
    opacity: 0;
    color: black;
    z-index:1;
}

.div_selector_name{
    position: relative;
    width: auto;
    height: auto;
}

.selector_name_value{
    position: absolute;
    left: 1px;
    width: 100%;
}

.selector_name_layer_list{
    position: absolute;
    left: 1px;
    width: 100%;
}

.selector_name_layer2_list{
    position: absolute;
    left: 1px;
    width: 100%;
}

.selector_name_material_list{
    position: absolute;
    left: 1px;
    width: 100%;
}

.selector_name_scene_list{
    position: absolute;
    left: 1px;
    width: 100%;
}


/* CONVERT TO */
.div_convert_to_selector{
    position: relative;
    width: auto;
    height: auto;
}

.convert_to_type_image{
    position: absolute;
    left:0px;
    top:-5px;
    z-index:0;
}

.convert_to_type_selector{
    position: absolute;
    left:0px;
    top:-11px;
    width:12px;
    opacity: 0;
    color: black;
    z-index:1;
}

.div_convert_to{
    position: relative;
    width: auto;
    height: auto;
}

.convert_to_value{
    position: absolute;
    left: 1px;
    width: 100%;
}

.all_objects{
    position: absolute;
    left: 1px;
    width: 100%;
}

.convert_to_layer_list{
    position: absolute;
    left: 1px;
    width: 0;
}

.convert_to_material_list{
    position: absolute;
    left: 1px;
    width: 100%;
}

/* DELETE */

.delete_image{
    position: relative;
    top:1px;
}

/* MODEL */
.convert_to_layer_list_model{
    position: absolute;
    left: 1px;
    width: 100%;
}

.convert_to_material_list_model{
    position: absolute;
    left: 1px;
    width: 100%;
}

.not_active{
    pointer-events: none;
    z-index: -10;
    width: 0;

}

.active{
    pointer-events: auto;
    z-index: 10;
    width: 100%;
}

@media all and (-ms-high-contrast:none){
    #save_style{
        visibility:hidden;
        position: absolute;
        top: -8px;
        right:17px;
        width: 118px;
    }

    #save_check{
        position: absolute;
        top: -2px;
    }

}
