.material{
    position: absolute;
}

span {
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size:12px;
    font-family:"Arial";
}

.material-select {
    position: absolute;
    left:34px;
    top:9px;
    width: calc(100% - 39px);
}

.in-model {
    position: absolute;
    left:15px;
    top:13px;
}

select{
    font-size:12px !important;
    font-family:"Arial" !important;
}

#context-menu ul {
    font-size:12px !important;
    font-family:"Arial" !important;
    padding: 5px;
}

#context-menu ul li {
    padding: 4px 8px;
    cursor: pointer;
}

#context-menu ul li:hover {
    background-color: #eee;
}

body {
    background-color: rgb(237,237,237);
    height: 100%;
}

html {
    height: 100%;
}

#app{
    height: 100%;
}

.mygrid-wrapper-div {
    position: relative;
    top: 30px;
    margin: 0;
    width: 100%;
    height: calc(100% - 75px);
    overflow: auto;
    overflow-x: hidden;
}

.material-div{
    position: unset;
    margin: 13px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.clip-image{
    position: absolute;
    left: 0;
    border: none;
    margin: 2px;
    margin-bottom: 0;
    margin-top: 0;
    clip: rect(0px,54px,18px,0px);
}

.material-menu{
    position: absolute;
    left: 10px;
    width: 70px;
    bottom: 10px;
}

.library-menu {
    position: absolute;
    left: 90px;
    width: 70px;
    bottom: 10px;
}

.image-border {
    position: absolute;
    left: 0;
    border: none;
    margin: 8px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 3px;
    padding-top: 3px;
}

.text-center {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.material-text{
    position: absolute;
    left: 0px;
    right: 0px;
    padding-left: 70px;
    padding-top: 3px;
    user-select:none;
}

.material-text-selected {
    font-weight: bolder;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-width: 3px;
    padding-left: 67px;
    padding-top: 0;
}

/*.material-text:hover {*/
/*    font-weight: bolder;*/
/*    border-style: solid;*/
/*    border-color: rgba(245, 245, 245, 1);*/
/*    background-color: rgba(245, 245, 245, 1);*/
/*    border-width: 3px;*/
/*    padding-left: 67px;*/
/*    padding-top: 0;*/
/*}*/

.material-hover {
    font-weight: bolder;
    border-style: solid;
    border-color: rgba(245, 245, 245, 1);
    background-color: rgba(245, 245, 245, 1);
    border-width: 3px;
    padding-left: 67px;
    padding-top: 0;
}

img {
    z-index: 10;
}

body{margin: 0px
}

